general:
  loglevel: INFO
  token: 0000000000:xxxxxxxxxxxxxxxxxxxxxxx
netease:
  neteaseapi: https://netease-nodejs.vercel.app
  userid: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  tmpdir: ./tmp/